<!DOCTYPE html>
<html>

    <head>
        <link rel="icon" href="https://i.imgur.com/RjQxEiC.png">
        <link rel="stylesheet" href="./css/style.css">
        <title>About</title>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="https://i.imgur.com/rksrXXu.jpg">
            <p>This site was created by Minh Duc LA. It uses data from mapbox.com and darksky.net</p>
        </div>  
        
        {{>footer}}
    </body>

</html>