<!DOCTYPE html>
<html>

    <head>
        <link rel="icon" href="https://i.imgur.com/RjQxEiC.png">
        <link rel="stylesheet" href="./css/style.css">
        <title>Help</title>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>{{message}}</p>
        </div>  
        
        {{>footer}}
    </body>

</html>